@import '../../variables.scss';

@media screen and (max-width: $app-max-width) {
    .weather-by-hour {
        width: 100%;
        text-align: center;
    }
    .weather-by-hour__container {
        display: flex;
        justify-content: space-around;
    }
    .weathTimeLogo{
        width: 120px;
    }
    .weather-by-hour__item {
        width: 10rem;
    }
    .weather-by-hour__hour {
    margin-bottom: 1rem;
    color: grey;
    font-weight: 400;
    font-size:3rem;
    }
    .degree{
    font-weight: 700;
    font-size: 6rem;
    }
    .weather-by-hour__item:hover{
        background: white;
        color: black;

    }
}